.topnav {
    background-color: #b781f7;
    display: flex;
    overflow: hidden;
    position: sticky;
    justify-content: space-between;
    
    width: 100%;
    height: 20%;
    height: 80px;
    border: 1px;
    border-color: #7300ff;
  }
  
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 30px 80px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    
   
  }
  .topnav button{
  margin-left: 50px;
margin-top: 20px;
margin-right: 50px;}
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:  #cab3e7;
    ;
    color: purple;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #cab3e7;
    color: white;
  }
  .pic{
    margin-right: 150px;
    
  }
  .body{
    background-color: #e3d6f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
  }
  .body h1{text-align: center;
    color: #b781f7;
    font-size: 40px;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: -10px;}
  .contact{
    margin-top: 10px;
    background-color: #a16eff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    height: 600px;
  }

  .contact h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }
 


  .contact-form input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .contact-form input:focus {
    border-color: #fff;
  }

  .contact-form button {
    background-color: #6b3ea6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .contact-form button:hover {
    background-color: #4c2c7b;
  }
  
  footer {
    background-color: #a37ac0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    
  }
  
  .footer-content img {
    max-width: 100px;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .footer-content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-content nav li {
    display: inline-block;
    margin: 0 20px;
  }
  
  .footer-content nav a {
    text-decoration: none;
    color: #f1ebf7;
    font-weight: bold;
  }
  .butt {
    background-color: #fff;
    color: #9c72e0;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .butt:hover {
    background-color: #9c72e0;
    color: #fff;
  }